/* 기본 카드 디자인 (자유롭게 수정 가능) */
.card.hanbi {
    width: 300px;
    /* margin: 50px auto; */
    background: linear-gradient(220deg, #7d09b3, #f0e7a9 75%);
    padding: 15px 15px 35px 15px;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 3px 5px 15px rgba(29, 27, 27, 0.15);
    transform: rotate(-5deg);
    /* 배지의 기준점이 되기 위한 필수 속성 */
    position: relative;
}

.card.hanbi img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card.hanbi h2 {
    color: #080824;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.card.hanbi p {
    color: #0d0110;
    font-size: 1.2rem;
    line-height: 1.8;
}

/* 1. 배지 (absolute) 관련 CSS를 작성하세요 */
.card.hanbi .card_badge {
    position: absolute;
    top: -10px;
    right: -15px;
    color: white;
    background-color: red;
    border-radius: 15px 15px 15px 15px;
    padding: 3px 10px;
    font-size: 0.9rem;
}

/* 2. 비밀 메모 (visibility) 및 hover 효과 관련 CSS를 작성하세요 */
.card.hanbi .secret {
    visibility: hidden;
    color: red;
    font-size: 1rem;
    margin: top 10px;
}

.card.hanbi:hover .secret {
    visibility: visible;
}

.card.hanbi:hover {
    transform: scale(1.1) rotate(0deg);
    z-index: 10;
}